.discover {
    width: 100%;
    background: url(../img/bg-menu-01.jpg) center;
    background-position-y: 450px;
    background-repeat: no-repeat;

    color: $colorTextWhite;

    padding: 80px 0 100px;
    @include centerColumn;
    gap: 40px;

    h2 {
        font-size: 3rem;
        font-family: $font1;
        text-transform: capitalize;
        font-weight: 100;
        color: $colorTextCopper;
    }

    .img {
        height: 30px;
        width: 30px;
        background: url(../img/ic-plate.png) center/cover;
    }

    .menu {
        @include center;
        gap: 100px;
        text-transform: capitalize;
        font-family: $font3;

        li {
            border-bottom: 1px solid $colorTextGrey;
            height: 30px;

            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }

    .carte {
        background-color: $colorBgWhite;
        color: $colorTextBlack;
        font-family: $font3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 30px;
        border-top: 5px solid $colorTextCopper;
        padding: 20px;

        li {
            @include center;
            justify-content: space-between;
            height: 150px;
            border-bottom: 1px dashed $colorBgGrey;
            width: 450px;

            img {
                border-radius: 50%;
            }

            .title_ingrediants {
                flex-grow: 1;
                text-align: left;
                padding-left: 10px;

                .ingrediants {
                    text-transform: capitalize;
                }
            }

            .prix {
                padding-right: 10px;
                color: $colorTextCopper;
                font-weight: bolder;
            }
        }

    }
}