.HeadPassion {
    width: 100%;
    height: 400px;
    background: url(../img/gmap.jpg) center/cover;
    margin-top: 350px;
    padding: 0 20px;
}

.containerWhite {
    background-color: $colorBgWhite;
    max-width: 1140px;
    margin: auto;

    @include centerColumn;
    position: relative;
    bottom: 70%;
    gap: 30px;
    padding: 80px;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
    }

    h2 {
        text-transform: capitalize;
        font-family: $font3;
        font-weight: 500;
    }

    h3 {
        text-transform: inherit;
        color: $colorTextCopper;
        font-weight: normal;
    }
}