header {
    position: relative;
    @import "./navbar";

    padding-bottom: 50px;

    width: 100%;
    height: 100vh;

    color: $colorTextWhite;

    background: url(../img/bg-slider-06.jpg) center/cover;

    @include centerColumn;

    .imgIc-plate-big {
        width: 50px;
        height: 50px;
        background: url(../img/ic-plate-big.png) center/cover;
        margin: 30px 0;
    }

    h1 {
        font-family: $font2;
        letter-spacing: 10px;
        font-size: 5rem;
    }

    h2 {
        text-transform: none;
        font-family: $font1;
        color: $colorTextCopper;
        font-size: 4rem;
        font-weight: 100;
        line-height: 0;
    }

    h3 {
        font-family: $font3;
        letter-spacing: 8px;
    }
}