nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    max-width: 900px;
    height: 80px;
    gap: 100px;


    @include center;

    h2 {
        text-transform: capitalize;
        color: $colorTextWhite;
        font-family: $font1;
        font-weight: 100;
        font-size: 2.5rem;
    }

    ul {
        @include center;

        &>:hover {
            transform: scale(1.2);
            transition: 0.2s;
            cursor: pointer;
        }

        &>:not(:hover) {
            transition: 0.2s;
        }

        #content {
            width: 100%;
            margin: 0 auto;
        }

    }


    .menuNavbar {
        gap: 40px;

        li {
            font-family: $font3;
            text-transform: uppercase;
            font-size: 0.7rem;

        }
    }

    .socials {
        gap: 15px;
    }

    @media screen and (max-width: 900px) {
        width: 100%;
        justify-content: space-between;
        padding: 50px;

        .menuNavbar {
            display: none;
        }

        .socials {
            gap: 50px;
        }
    }
}