@font-face {
  font-family: "font1";
  src: url(../fonts/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "font3";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a,
:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

/*  color  */
/* Mixins */
body {
  background-color: #000;
  font-family: "font3", sans-serif;
}

header {
  position: relative;
  padding-bottom: 50px;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: url(../img/bg-slider-06.jpg) center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
  height: 80px;
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav h2 {
  text-transform: capitalize;
  color: #fff;
  font-family: "font1", sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul > :hover {
  transform: scale(1.2);
  transition: 0.2s;
  cursor: pointer;
}
header nav ul > :not(:hover) {
  transition: 0.2s;
}
header nav .menuNavbar {
  gap: 40px;
}
header nav .menuNavbar li {
  font-family: "font3", sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
}
header nav .socials {
  gap: 15px;
}
header .imgIc-plate-big {
  width: 50px;
  height: 50px;
  background: url(../img/ic-plate-big.png) center/cover;
  margin: 30px 0;
}
header h1 {
  font-family: "font2", sans-serif;
  letter-spacing: 10px;
  font-size: 5rem;
}
header h2 {
  text-transform: none;
  font-family: "font1", sans-serif;
  color: #b36700;
  font-size: 4rem;
  font-weight: 100;
  line-height: 0;
}
header h3 {
  font-family: "font3", sans-serif;
  letter-spacing: 8px;
}

main .ourStore {
  display: flex;
}
main .ourStore .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(240, 240, 240);
  outline: dashed 1px #b36700;
  outline-offset: -20px;
  padding: 50px 40px 60px;
}
main .ourStore .left h3 {
  color: #b36700;
  font-family: "font1", sans-serif;
  text-transform: capitalize;
  font-weight: 100;
  font-size: 3rem;
}
main .ourStore .left h4 {
  font-family: "font2", sans-serif;
  font-size: 2rem;
  line-height: 0;
}
main .ourStore .left .imgIc-plate {
  margin: 50px 0;
  height: 50px;
  width: 50px;
  background: url(../img/ic-plate.png) center/cover;
}
main .ourStore .left img {
  margin: 30px 0;
  border-radius: 50%;
}
main .ourStore .left h5 {
  font-family: "font2", sans-serif;
  letter-spacing: 1px;
}
main .ourStore .right {
  width: 50%;
  background: url(../img/store-01.jpg) center/cover;
}
main .discover {
  width: 100%;
  background: url(../img/bg-menu-01.jpg) center/cover;
  background-position-y: 500px;
  background-repeat: no-repeat;
  color: #fff;
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}
main .discover h2 {
  font-size: 3rem;
  font-family: "font1", sans-serif;
  text-transform: capitalize;
  font-weight: 100;
  color: #b36700;
}
main .discover .img {
  height: 30px;
  width: 30px;
  background: url(../img/ic-plate.png) center/cover;
}
main .discover .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  text-transform: capitalize;
  font-family: "font3", sans-serif;
}
main .discover .menu li {
  border-bottom: 1px solid #ccc;
  height: 30px;
}
main .discover .menu li:hover {
  transform: scale(1.2);
  cursor: pointer;
}
main .discover .carte {
  background-color: rgb(240, 240, 240);
  color: #000;
  font-family: "font3", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  border-top: 5px solid #b36700;
  padding: 20px;
}
main .discover .carte li {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  border-bottom: 1px dashed #ccc;
  width: 450px;
}
main .discover .carte li img {
  border-radius: 50%;
}
main .discover .carte li .title_ingrediants {
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
}
main .discover .carte li .title_ingrediants .ingrediants {
  text-transform: capitalize;
}
main .discover .carte li .prix {
  padding-right: 10px;
  color: #b36700;
  font-weight: bolder;
}/*# sourceMappingURL=index.css.map */